h1{
    background-color: blanchedalmond;
    text-align: center;
}
div.verde{
    background-color: chartreuse;
    text-align: center;

}

div.naranja{
    background-color: darkorange;

}

div.negrita{
    font-weight: bold;

}

div.azul{
    background-color: blue;
    text-align: center;

}
div.amarillo{
    background-color: yellow;
    color: purple;
    display: inline-block;

}

div.mapa{
    display: inline;
}
div.video{
    display: inline;
}